.tic-tac-toe {
  height: 100vh;
  width: 100vw;
}

td {
  border: 2px solid black;
  width: 30vmin;
  height: 30vmin;
  cursor: pointer;
  font-size: 2rem;
}

tr:first-child > td:nth-child(1),
tr:first-child > td:nth-child(2),
tr:first-child > td:nth-child(3) {
  border-top: none;
}

td:nth-child(1) {
  border-left: none;
}

td:nth-child(3) {
  border-right: none;
}

tr:nth-child(3) td:nth-child(1),
tr:nth-child(3) td:nth-child(2),
tr:nth-child(3) td:nth-child(3) {
  border-bottom: none;
}

td span {
  display: flex;
  justify-content: center;
  align-items: center;
}
